#  Teste Engenheiro de Dados - Mesha Tecnologia

## Instalação das Dependencias

In [153]:
!pip install pyspark
!pip install findspark
!pip install pandas 
!pip install install-jdk

Requirement already satisfied: pyspark in /home/gitpod/.pyenv/versions/3.11.1/lib/python3.11/site-packages (3.4.1)
Requirement already satisfied: py4j==0.10.9.7 in /home/gitpod/.pyenv/versions/3.11.1/lib/python3.11/site-packages (from pyspark) (0.10.9.7)

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: findspark in /home/gitpod/.pyenv/versions/3.11.1/lib/python3.11/site-packages (2.0.1)

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: pandas in /home/gitpod/.pyenv/versions/3.11.1/lib/python3.11/site-packages (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/gitpod/.pyenv/versions/3.11.1/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/gitpod/.pyenv/versions/3.11.1/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /home/gitpod/.pyenv/versions/3.11.1/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /home/gitpod/.pyenv/versions/3.11.1/lib/python3.11/site-packages (from pandas) (1.25.0)
Requirement already satisfied: six>=1.5 in /home/gitpod/.pyenv/versions/3.11.1/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: install-jdk in /home/gitpod/.pyenv/versions/3.11.1/lib/python3.11/site-packages (1.0.4)

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: pip install --upgrade pip

## Importação das Dependencias e Inicialização do PySpark

In [154]:
import pandas as pd
import findspark
from pyspark.sql import SparkSession

In [155]:
findspark.init()

In [156]:
spark = SparkSession.builder.master('local[*]').getOrCreate()

In [157]:
spark = SparkSession \
        .builder \
        .appName('PySpark MySQL Connection') \
        .master('local[*]') \
        .config("spark.jars", "/workspace/teste-engenheiro-de-dados/jars/mysql-connector-j-8.0.33.jar") \
        .getOrCreate()

In [149]:
pyspark --jars "/workspace/teste-engenheiro-de-dados/jars/mysql-connector-java-8.0.13.jar"

SyntaxError: invalid syntax (3545515851.py, line 1)

In [158]:
spark

## Extração dos Dados

In [78]:
path = "/workspace/teste-engenheiro-de-dados/dados/row/DADOS/MICRODADOS_ENEM_2020.csv"

In [79]:
enem = spark.read.csv(path, sep=";", header=True)

In [80]:
enem.limit(5).show()

+------------+------+---------------+-------+---------------+-----------+----------------+---------------+---------------+---------+---------+------------+----------------+-------------------+---------+---------+----------------------+------------------+---------------+------------------+-------------------+-----------+-----------+--------------+--------------+--------------+--------------+-----------+-----------+-----------+-----------+----------+----------+----------+----------+--------------------+--------------------+--------------------+--------------------+---------+--------------------+--------------------+--------------------+--------------------+-----------------+-------------+-------------+-------------+-------------+-------------+---------------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|NU_INSCRICAO|NU_ANO|TP_FAIXA_ETARIA|TP_SEXO|TP_ESTADO_CIVIL|TP_COR_RACA|TP_NACIONALIDADE|TP_ST_CONCLUSAO|TP_ANO_CONCLUIU|TP_ESCOLA|TP_ENSINO|IN_TREINEIRO|CO_MUNICIPIO_ESC|   NO_MUNICIPIO_ESC|CO_UF_ESC|SG_UF_ESC|TP_DEPENDENCIA_ADM_ESC|TP_LOCALIZACAO_ESC|TP_SIT_FUNC_ESC|CO_MUNICIPIO_PROVA| NO_MUNICIPIO_PROVA|CO_UF_PROVA|SG_UF_PROVA|TP_PRESENCA_CN|TP_PRESENCA_CH|TP_PRESENCA_LC|TP_PRESENCA_MT|CO_PROVA_CN|CO_PROVA_CH|CO_PROVA_LC|CO_PROVA_MT|NU_NOTA_CN|NU_NOTA_CH|NU_NOTA_LC|NU_NOTA_MT|     TX_RESPOSTAS_CN|     TX_RESPOSTAS_CH|     TX_RESPOSTAS_LC|     TX_RESPOSTAS_MT|TP_LINGUA|      TX_GABARITO_CN|      TX_GABARITO_CH|      TX_GABARITO_LC|      TX_GABARITO_MT|TP_STATUS_REDACAO|NU_NOTA_COMP1|NU_NOTA_COMP2|NU_NOTA_COMP3|NU_NOTA_COMP4|NU_NOTA_COMP5|NU_NOTA_REDACAO|Q001|Q002|Q003|Q004|Q005|Q006|Q007|Q008|Q009|Q010|Q011|Q012|Q013|Q014|Q015|Q016|Q017|Q018|Q019|Q020|Q021|Q022|Q023|Q024|Q025|
+------------+------+---------------+-------+---------------+-----------+----------------+---------------+---------------+---------+---------+------------+----------------+-------------------+---------+---------+----------------------+------------------+---------------+------------------+-------------------+-----------+-----------+--------------+--------------+--------------+--------------+-----------+-----------+-----------+-----------+----------+----------+----------+----------+--------------------+--------------------+--------------------+--------------------+---------+--------------------+--------------------+--------------------+--------------------+-----------------+-------------+-------------+-------------+-------------+-------------+---------------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|200006271946|  2020|             11|      F|              1|          2|               1|              1|             11|        1|     null|           0|            null|               null|     null|     null|                  null|              null|           null|           1501402|              Bel�m|         15|         PA|             0|             0|             0|             0|       null|       null|       null|       null|      null|      null|      null|      null|                null|                null|                null|                null|        1|                null|                null|                null|                null|             null|         null|         null|         null|         null|         null|           null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|
|200001195856|  2020|             11|      M|              2|          3|               1|              1|             11|        1|     null|           0|            null|               null|     null|     null|                  null|              null|           null|           2408102|              Natal|         24|         RN|             1|             1|             1|             1|        702|        689|        693|        698|     604.1|     661.7|     595.3|     711.3|BCBDBDCCCDBDDBADE...|BCAECABCDCEBDBBBD...|99999CADDEDADBAAB...|EBEBDEDAECBADCADD...|        1|ABBACBCCCDDDDBAEE...|BCEECDBCCDEBDBBBB...|99999CBDDEDBDBACE...|BBEADECAECBBXCEBA...|                1|          120|          120|          120|          120|          100|            580|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|
|200001943954|  2020|              4|      F|              2|          3|               2|              2|              0|        2|        1|           0|         2927408|           Salvador|       29|       BA|                     2|                 1|              1|           2927408|           Salvador|         29|         BA|             0|             0|             0|             0|       null|       null|       null|       null|      null|      null|      null|      null|                null|                null|                null|                null|        0|                null|                null|                null|                null|             null|         null|         null|         null|         null|         null|           null|   B|   C|   A|   D|   3|   B|   A|   B|   A|   A|   A|   B|   A|   B|   A|   B|   A|   A|   B|   A|   A|   A|   A|   A|   A|
|200001908998|  2020|              2|      M|              1|          3|               1|              2|              0|        2|        1|           0|         3547304|Santana de Parna�ba|       35|       SP|                     3|                 1|              1|           3547304|Santana de Parna�ba|         35|         SP|             1|             1|             1|             1|        700|        688|        692|        696|     620.8|       675|     624.2|     759.4|EBEDCCCDCBDBAECAE...|DABCCACCBCCDCADBD...|DCEAB99999AADAECC...|CBDBDCCDDEECBAABB...|        0|BDECCACBEBDEAEDAE...|DABCCAECBABECADBD...|DCEAD99999AADACCC...|EBDBXCCDAEECBAABA...|                1|          140|          200|          140|          120|          160|            760|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|
|200001634757|  2020|              4|      F|              1|          3|               2|              1|              1|        1|     null|           0|            null|               null|     null|     null|                  null|              null|           null|           3121605|         Diamantina|         31|         MG|             0|             0|             0|             0|       null|       null|       null|       null|      null|      null|      null|      null|                null|                null|                null|                null|        1|                null|                null|                null|                null|             null|         null|         null|         null|         null|         null|           null|   B|   G|   B|   B|   3|   B|   A|   B|   D|   A|   A|   B|   A|   B|   A|   A|   A|   A|   B|   A|   B|   B|   A|   A|   B|
+------------+------+---------------+-------+---------------+-----------+----------------+---------------+---------------+---------+---------+------------+----------------+-------------------+---------+---------+----------------------+------------------+---------------+------------------+-------------------+-----------+-----------+--------------+--------------+--------------+--------------+-----------+-----------+-----------+-----------+----------+----------+----------+----------+--------------------+--------------------+--------------------+--------------------+---------+--------------------+--------------------+--------------------+--------------------+-----------------+-------------+-------------+-------------+-------------+-------------+---------------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+

In [81]:
enem.printSchema()

root
 |-- NU_INSCRICAO: string (nullable = true)
 |-- NU_ANO: string (nullable = true)
 |-- TP_FAIXA_ETARIA: string (nullable = true)
 |-- TP_SEXO: string (nullable = true)
 |-- TP_ESTADO_CIVIL: string (nullable = true)
 |-- TP_COR_RACA: string (nullable = true)
 |-- TP_NACIONALIDADE: string (nullable = true)
 |-- TP_ST_CONCLUSAO: string (nullable = true)
 |-- TP_ANO_CONCLUIU: string (nullable = true)
 |-- TP_ESCOLA: string (nullable = true)
 |-- TP_ENSINO: string (nullable = true)
 |-- IN_TREINEIRO: string (nullable = true)
 |-- CO_MUNICIPIO_ESC: string (nullable = true)
 |-- NO_MUNICIPIO_ESC: string (nullable = true)
 |-- CO_UF_ESC: string (nullable = true)
 |-- SG_UF_ESC: string (nullable = true)
 |-- TP_DEPENDENCIA_ADM_ESC: string (nullable = true)
 |-- TP_LOCALIZACAO_ESC: string (nullable = true)
 |-- TP_SIT_FUNC_ESC: string (nullable = true)
 |-- CO_MUNICIPIO_PROVA: string (nullable = true)
 |-- NO_MUNICIPIO_PROVA: string (nullable = true)
 |-- CO_UF_PROVA: string (nullable = true)
 |-- SG_UF_PROVA: string (nullable = true)
 |-- TP_PRESENCA_CN: string (nullable = true)
 |-- TP_PRESENCA_CH: string (nullable = true)
 |-- TP_PRESENCA_LC: string (nullable = true)
 |-- TP_PRESENCA_MT: string (nullable = true)
 |-- CO_PROVA_CN: string (nullable = true)
 |-- CO_PROVA_CH: string (nullable = true)
 |-- CO_PROVA_LC: string (nullable = true)
 |-- CO_PROVA_MT: string (nullable = true)
 |-- NU_NOTA_CN: string (nullable = true)
 |-- NU_NOTA_CH: string (nullable = true)
 |-- NU_NOTA_LC: string (nullable = true)
 |-- NU_NOTA_MT: string (nullable = true)
 |-- TX_RESPOSTAS_CN: string (nullable = true)
 |-- TX_RESPOSTAS_CH: string (nullable = true)
 |-- TX_RESPOSTAS_LC: string (nullable = true)
 |-- TX_RESPOSTAS_MT: string (nullable = true)
 |-- TP_LINGUA: string (nullable = true)
 |-- TX_GABARITO_CN: string (nullable = true)
 |-- TX_GABARITO_CH: string (nullable = true)
 |-- TX_GABARITO_LC: string (nullable = true)
 |-- TX_GABARITO_MT: string (nullable = true)
 |-- TP_STATUS_REDACAO: string (nullable = true)
 |-- NU_NOTA_COMP1: string (nullable = true)
 |-- NU_NOTA_COMP2: string (nullable = true)
 |-- NU_NOTA_COMP3: string (nullable = true)
 |-- NU_NOTA_COMP4: string (nullable = true)
 |-- NU_NOTA_COMP5: string (nullable = true)
 |-- NU_NOTA_REDACAO: string (nullable = true)
 |-- Q001: string (nullable = true)
 |-- Q002: string (nullable = true)
 |-- Q003: string (nullable = true)
 |-- Q004: string (nullable = true)
 |-- Q005: string (nullable = true)
 |-- Q006: string (nullable = true)
 |-- Q007: string (nullable = true)
 |-- Q008: string (nullable = true)
 |-- Q009: string (nullable = true)
 |-- Q010: string (nullable = true)
 |-- Q011: string (nullable = true)
 |-- Q012: string (nullable = true)
 |-- Q013: string (nullable = true)
 |-- Q014: string (nullable = true)
 |-- Q015: string (nullable = true)
 |-- Q016: string (nullable = true)
 |-- Q017: string (nullable = true)
 |-- Q018: string (nullable = true)
 |-- Q019: string (nullable = true)
 |-- Q020: string (nullable = true)
 |-- Q021: string (nullable = true)
 |-- Q022: string (nullable = true)
 |-- Q023: string (nullable = true)
 |-- Q024: string (nullable = true)
 |-- Q025: string (nullable = true)

In [82]:
enem.where('NU_ANO!="2020"').count()

0

In [83]:
enem.where(enem['NU_NOTA_REDACAO'].isNull()).count()

3028969

## Carregamento na Processing Zone - Seleção de Columns, Correções dos tipos de dados e Transformação para o formato Parquet

### Seleção Columns

In [84]:
enemSelecao = enem.select("NU_INSCRICAO", "TP_SEXO", "TP_COR_RACA", "CO_MUNICIPIO_ESC", "NO_MUNICIPIO_ESC", "SG_UF_ESC", "TP_PRESENCA_CN", "TP_PRESENCA_CH", "TP_PRESENCA_LC", "TP_PRESENCA_MT", "NU_NOTA_CN", "NU_NOTA_CH", "NU_NOTA_LC", "NU_NOTA_MT", "NU_NOTA_REDACAO", "TP_ST_CONCLUSAO")

In [85]:
enemSelecao.limit(5).show()

+------------+-------+-----------+----------------+-------------------+---------+--------------+--------------+--------------+--------------+----------+----------+----------+----------+---------------+---------------+
|NU_INSCRICAO|TP_SEXO|TP_COR_RACA|CO_MUNICIPIO_ESC|   NO_MUNICIPIO_ESC|SG_UF_ESC|TP_PRESENCA_CN|TP_PRESENCA_CH|TP_PRESENCA_LC|TP_PRESENCA_MT|NU_NOTA_CN|NU_NOTA_CH|NU_NOTA_LC|NU_NOTA_MT|NU_NOTA_REDACAO|TP_ST_CONCLUSAO|
+------------+-------+-----------+----------------+-------------------+---------+--------------+--------------+--------------+--------------+----------+----------+----------+----------+---------------+---------------+
|200006271946|      F|          2|            null|               null|     null|             0|             0|             0|             0|      null|      null|      null|      null|           null|              1|
|200001195856|      M|          3|            null|               null|     null|             1|             1|             1|             1|     604.1|     661.7|     595.3|     711.3|            580|              1|
|200001943954|      F|          3|         2927408|           Salvador|       BA|             0|             0|             0|             0|      null|      null|      null|      null|           null|              2|
|200001908998|      M|          3|         3547304|Santana de Parna�ba|       SP|             1|             1|             1|             1|     620.8|       675|     624.2|     759.4|            760|              2|
|200001634757|      F|          3|            null|               null|     null|             0|             0|             0|             0|      null|      null|      null|      null|           null|              1|
+------------+-------+-----------+----------------+-------------------+---------+--------------+--------------+--------------+--------------+----------+----------+----------+----------+---------------+---------------+

### Correção dos tipos dos dados

In [86]:
from pyspark.sql.types import DoubleType, StringType, IntegerType 
from pyspark.sql import functions as f

In [87]:
enemSelecao.printSchema()

root
 |-- NU_INSCRICAO: string (nullable = true)
 |-- TP_SEXO: string (nullable = true)
 |-- TP_COR_RACA: string (nullable = true)
 |-- CO_MUNICIPIO_ESC: string (nullable = true)
 |-- NO_MUNICIPIO_ESC: string (nullable = true)
 |-- SG_UF_ESC: string (nullable = true)
 |-- TP_PRESENCA_CN: string (nullable = true)
 |-- TP_PRESENCA_CH: string (nullable = true)
 |-- TP_PRESENCA_LC: string (nullable = true)
 |-- TP_PRESENCA_MT: string (nullable = true)
 |-- NU_NOTA_CN: string (nullable = true)
 |-- NU_NOTA_CH: string (nullable = true)
 |-- NU_NOTA_LC: string (nullable = true)
 |-- NU_NOTA_MT: string (nullable = true)
 |-- NU_NOTA_REDACAO: string (nullable = true)
 |-- TP_ST_CONCLUSAO: string (nullable = true)

In [88]:
enemSelecao.where(enemSelecao['TP_ST_CONCLUSAO'].isNull()).count()

0

In [89]:
enemSelecaoTipos = enemSelecao\
    .withColumn(
    "TP_COR_RACA",
    enemSelecao["TP_COR_RACA"].cast(IntegerType())
    )\
    .withColumn(
    "CO_MUNICIPIO_ESC",
    enemSelecao["CO_MUNICIPIO_ESC"].cast(IntegerType())
    )\
    .withColumn(
    "TP_PRESENCA_CN",
    enemSelecao["TP_PRESENCA_CN"].cast(IntegerType())
    )\
    .withColumn(
    "TP_PRESENCA_CH",
    enemSelecao["TP_PRESENCA_CH"].cast(IntegerType())
    )\
    .withColumn(
    "TP_PRESENCA_LC",
    enemSelecao["TP_PRESENCA_LC"].cast(IntegerType())
    )\
    .withColumn(
    "TP_PRESENCA_MT",
    enemSelecao["TP_PRESENCA_MT"].cast(IntegerType())
    )\
    .withColumn(
    "NU_NOTA_CN",
    enemSelecao["NU_NOTA_CN"].cast(DoubleType())
    )\
    .withColumn(
    "NU_NOTA_CH",
    enemSelecao["NU_NOTA_CH"].cast(DoubleType())
    )\
    .withColumn(
    "NU_NOTA_LC",
    enemSelecao["NU_NOTA_LC"].cast(DoubleType())
    )\
    .withColumn(
    "NU_NOTA_MT",
    enemSelecao["NU_NOTA_MT"].cast(DoubleType())
    )\
    .withColumn(
    "NU_NOTA_REDACAO",
    enemSelecao["NU_NOTA_REDACAO"].cast(IntegerType())
    )\
    .withColumn(
    "TP_ST_CONCLUSAO",
    enemSelecao["TP_ST_CONCLUSAO"].cast(IntegerType())
    )

In [90]:
enemSelecaoTipos.where(enemSelecaoTipos['TP_ST_CONCLUSAO'].isNull()).count()

0

In [91]:
enemSelecaoTipos.printSchema()

root
 |-- NU_INSCRICAO: string (nullable = true)
 |-- TP_SEXO: string (nullable = true)
 |-- TP_COR_RACA: integer (nullable = true)
 |-- CO_MUNICIPIO_ESC: integer (nullable = true)
 |-- NO_MUNICIPIO_ESC: string (nullable = true)
 |-- SG_UF_ESC: string (nullable = true)
 |-- TP_PRESENCA_CN: integer (nullable = true)
 |-- TP_PRESENCA_CH: integer (nullable = true)
 |-- TP_PRESENCA_LC: integer (nullable = true)
 |-- TP_PRESENCA_MT: integer (nullable = true)
 |-- NU_NOTA_CN: double (nullable = true)
 |-- NU_NOTA_CH: double (nullable = true)
 |-- NU_NOTA_LC: double (nullable = true)
 |-- NU_NOTA_MT: double (nullable = true)
 |-- NU_NOTA_REDACAO: integer (nullable = true)
 |-- TP_ST_CONCLUSAO: integer (nullable = true)

In [92]:
novosNomes = {'NU_INSCRICAO':'NumInscricao', 'TP_SEXO':'Sexo', 'TP_COR_RACA':'Etnia', 'CO_MUNICIPIO_ESC':'CodMunicipioEsc', 'NO_MUNICIPIO_ESC':'NomMunicipioEsc', 'SG_UF_ESC':'EstadoEsc', 'TP_PRESENCA_CN':'PresencaCN', 'TP_PRESENCA_CH':'PresencaCH', 'TP_PRESENCA_LC':'PresencaLC', 'TP_PRESENCA_MT':'PresencaMT', 'NU_NOTA_CN':'NotaCN', 'NU_NOTA_CH':'NotaCH', 'NU_NOTA_LC':'NotaLC', 'NU_NOTA_MT':'NotaMT', 'NU_NOTA_REDACAO':'NotaRedacao', 'TP_ST_CONCLUSAO':'SituacaoConclusao'}

In [93]:
for key, value in novosNomes.items():
    enemSelecaoTipos = enemSelecaoTipos.withColumnRenamed(key, value)

In [94]:
enemSelecaoTipos.printSchema()

root
 |-- NumInscricao: string (nullable = true)
 |-- Sexo: string (nullable = true)
 |-- Etnia: integer (nullable = true)
 |-- CodMunicipioEsc: integer (nullable = true)
 |-- NomMunicipioEsc: string (nullable = true)
 |-- EstadoEsc: string (nullable = true)
 |-- PresencaCN: integer (nullable = true)
 |-- PresencaCH: integer (nullable = true)
 |-- PresencaLC: integer (nullable = true)
 |-- PresencaMT: integer (nullable = true)
 |-- NotaCN: double (nullable = true)
 |-- NotaCH: double (nullable = true)
 |-- NotaLC: double (nullable = true)
 |-- NotaMT: double (nullable = true)
 |-- NotaRedacao: integer (nullable = true)
 |-- SituacaoConclusao: integer (nullable = true)

### Transformação para o formato Parquet

In [95]:
pathParquet = "/workspace/teste-engenheiro-de-dados/dados/processing"

In [96]:
enemSelecaoTipos.write.parquet(
    pathParquet,
    mode = "overwrite"
)

23/06/28 16:51:55 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
23/06/28 16:51:55 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
23/06/28 16:51:55 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
23/06/28 16:51:55 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
23/06/28 16:51:55 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 63.33% for 12 writers
23/06/28 16:51:55 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 58.46% for 13 writers
23/06/28 16:51:55 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 54.29% for 14 writers
23/06/28 16:51:55 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 50.67% for 15 writers
23/06/28 16:51:55 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 47.50% for 16 writers
23/06/28 16:52:02 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 50.67% for 15 writers
23/06/28 16:52:02 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 54.29% for 14 writers
23/06/28 16:52:02 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 58.46% for 13 writers
23/06/28 16:52:02 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 63.33% for 12 writers
23/06/28 16:52:03 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
23/06/28 16:52:03 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
23/06/28 16:52:03 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
23/06/28 16:52:03 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [97]:
enemParquet = spark.read.parquet(
    pathParquet
)

In [98]:
enemParquet.limit(5).show()

+------------+----+-----+---------------+---------------+---------+----------+----------+----------+----------+------+------+------+------+-----------+-----------------+
|NumInscricao|Sexo|Etnia|CodMunicipioEsc|NomMunicipioEsc|EstadoEsc|PresencaCN|PresencaCH|PresencaLC|PresencaMT|NotaCN|NotaCH|NotaLC|NotaMT|NotaRedacao|SituacaoConclusao|
+------------+----+-----+---------------+---------------+---------+----------+----------+----------+----------+------+------+------+------+-----------+-----------------+
|200003297356|   F|    2|           null|           null|     null|         0|         0|         0|         0|  null|  null|  null|  null|       null|                1|
|200003373109|   F|    2|           null|           null|     null|         0|         0|         0|         0|  null|  null|  null|  null|       null|                1|
|200004404163|   F|    1|           null|           null|     null|         0|         0|         0|         0|  null|  null|  null|  null|       null|                3|
|200001704986|   M|    1|           null|           null|     null|         1|         1|         1|         1| 578.7| 624.6| 612.1| 638.7|        880|                1|
|200001049116|   F|    1|           null|           null|     null|         1|         1|         1|         1| 643.5| 645.9| 592.8| 682.6|        620|                1|
+------------+----+-----+---------------+---------------+---------+----------+----------+----------+----------+------+------+------+------+-----------+-----------------+

In [99]:
enemParquet.count()

5783109

## Curated Zone - Criando as tabelas para cada pergunta

### Criando uma View

In [100]:
enemParquet.createOrReplaceTempView("enemView")

### 1 - Qual a escola com a maior média de notas?

In [101]:
escolaMaiorMedia = spark.sql("""
        SELECT 
            CodMunicipioEsc, NomMunicipioEsc, 
            EstadoEsc, ROUND(AVG(MediaNotas), 2) AS MediaNotas
        FROM
            (SELECT
                NumInscricao, CodMunicipioEsc, NomMunicipioEsc, EstadoEsc, 
                ROUND((NotaCN+NotaCH+NotaLC+NotaMT+NotaRedacao)/5, 2) AS MediaNotas
            FROM
                enemView
            WHERE 
                    SituacaoConclusao == 2 
                AND 
                    CodMunicipioEsc IS NOT NULL 
                AND 
                    NotaMT IS NOT NULL
                AND
                    NotaCH IS NOT NULL
                AND
                    NotaCN IS NOT NULL
                AND
                    NotaLC IS NOT NULL
                AND 
                    NotaRedacao IS NOT NULL
            )
        GROUP BY CodMunicipioEsc, NomMunicipioEsc, EstadoEsc  
        ORDER BY MediaNotas DESC
        """)

In [102]:
escolaMaiorMedia.limit(10).show()

+---------------+--------------------+---------+----------+
|CodMunicipioEsc|     NomMunicipioEsc|EstadoEsc|MediaNotas|
+---------------+--------------------+---------+----------+
|        3158904| Santana do Manhua�u|       MG|    706.56|
|        4313466|          Novo Xingu|       RS|     704.9|
|        4305850|    Coqueiros do Sul|       RS|    693.52|
|        4117297|      Novo Itacolomi|       PR|     692.7|
|        3107000|           Biquinhas|       MG|    685.64|
|        3147808|         Passa Vinte|       MG|    681.74|
|        3160009|Santo Ant�nio do ...|       MG|     670.8|
|        3170651|Vargem Grande do ...|       MG|    668.77|
|        3149408|      Pedro Teixeira|       MG|    656.16|
|        4304853|        Carlos Gomes|       RS|    654.44|
+---------------+--------------------+---------+----------+

In [103]:
escolaMaiorMedia.count()

5425

In [159]:
escolaMaiorMedia.write\
  .format("jdbc")\
  .option("driver","com.mysql.cj.jdbc.Driver")\
  .option("url", "jdbc:mysql://172.18.0.2:3306/mesha")\
  .option("dbtable", "mesha")\
  .option("user", "mesha")\
  .option("password", "mesha")\
  .save()

Py4JJavaError: An error occurred while calling o827.save.
: java.lang.ClassNotFoundException: com.mysql.cj.jdbc.Driver
	at java.base/java.net.URLClassLoader.findClass(URLClassLoader.java:476)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:589)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:522)
	at org.apache.spark.sql.execution.datasources.jdbc.DriverRegistry$.register(DriverRegistry.scala:46)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.$anonfun$driverClass$1(JDBCOptions.scala:103)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.$anonfun$driverClass$1$adapted(JDBCOptions.scala:103)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.<init>(JDBCOptions.scala:103)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcOptionsInWrite.<init>(JDBCOptions.scala:246)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcOptionsInWrite.<init>(JDBCOptions.scala:250)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:47)
	at org.apache.spark.sql.execution.datasources.SaveIntoDataSourceCommand.run(SaveIntoDataSourceCommand.scala:47)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult$lzycompute(commands.scala:75)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult(commands.scala:73)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.executeCollect(commands.scala:84)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:118)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:195)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:103)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:827)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:65)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:94)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:512)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(TreeNode.scala:104)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:512)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:31)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:31)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:31)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:488)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:94)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:81)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:79)
	at org.apache.spark.sql.execution.QueryExecution.assertCommandExecuted(QueryExecution.scala:133)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:856)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:387)
	at org.apache.spark.sql.DataFrameWriter.saveInternal(DataFrameWriter.scala:360)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:247)
	at jdk.internal.reflect.GeneratedMethodAccessor152.invoke(Unknown Source)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:829)

### 2 - Qual o aluno com a maior média de notas e o valor dessa média?

In [32]:
alunoMaiorNota = spark.sql("""
        SELECT
            *
        FROM
            (SELECT
                NumInscricao, Sexo, 
                Etnia, NomMunicipioEsc, 
                EstadoEsc, 
                SituacaoConclusao,
                ROUND((NotaCN+NotaCH+NotaLC+NotaMT+NotaRedacao)/5, 2) AS MediaNotas
            FROM
                enemView
            WHERE 
                    NotaMT IS NOT NULL
                AND
                    NotaCH IS NOT NULL
                AND
                    NotaCN IS NOT NULL
                AND
                    NotaLC IS NOT NULL
                AND 
                    NotaRedacao IS NOT NULL)
        ORDER BY MediaNotas DESC
        """)

In [33]:
alunoMaiorNota.limit(10).show()

+------------+----+-----+---------------+---------+-----------------+----------+
|NumInscricao|Sexo|Etnia|NomMunicipioEsc|EstadoEsc|SituacaoConclusao|MediaNotas|
+------------+----+-----+---------------+---------+-----------------+----------+
|200005996961|   M|    1|           null|     null|                1|    858.58|
|200004812135|   M|    1|           null|     null|                1|    852.86|
|200001357436|   M|    1| Rio de Janeiro|       RJ|                2|    852.76|
|200004002694|   M|    1|           null|     null|                1|     851.5|
|200001850224|   F|    1|      S�o Paulo|       SP|                2|    851.34|
|200006051511|   F|    1|    Jo�o Pessoa|       PB|                2|    850.74|
|200003688741|   M|    1|           null|     null|                1|    849.34|
|200006619550|   F|    1|           null|     null|                1|    847.82|
|200001993301|   M|    1|           null|     null|                1|    847.68|
|200004146848|   F|    1|           null|     null|                1|     847.6|
+------------+----+-----+---------------+---------+-----------------+----------+

#### Dataframe and View Etnia

In [53]:
etniaColumns = ["codEtnia", "nomeEtnia"]
etniaNome = [(0, "Nao declarado"), (1, "Branca"), (2, "Preta"), (3, "Parda"), (4, "Amarela"), (5, "Indigena")]
etniaDataframe = spark.createDataFrame(etniaNome, etniaColumns)
etniaDataframe.show()

+--------+-------------+
|codEtnia|    nomeEtnia|
+--------+-------------+
|       0|Nao declarado|
|       1|       Branca|
|       2|        Preta|
|       3|        Parda|
|       4|      Amarela|
|       5|     Indigena|
+--------+-------------+

In [54]:
etniaDataframe.createOrReplaceTempView("etniaView")

#### Dataframe and View SituacaoConclusao

In [55]:
sitConColumns = ["codCon", "nomeCon"]
sitConNome = [(1, "Concluido"), (2, "Cursando/Conclusao 2020"), (3, "Cursando/Conclusao Apos 2020"), (4, "Sem Conclusao/Previsao")]
sitConDataframe = spark.createDataFrame(sitConNome, sitConColumns)
sitConDataframe.show()

+------+--------------------+
|codCon|             nomeCon|
+------+--------------------+
|     1|           Concluido|
|     2|Cursando/Conclusa...|
|     3|Cursando/Conclusa...|
|     4|Sem Conclusao/Pre...|
+------+--------------------+

In [56]:
sitConDataframe.createOrReplaceTempView("sitConView")

#### Join Tables Etnia e SituaçãoConclusão

In [57]:
alunoMaiorNota = spark.sql("""
        SELECT
            A.NumInscricao, A.Sexo,
            B.nomeEtnia AS Etnia,
            A.NomMunicipioEsc, A.EstadoEsc,
            C.nomeCon AS SituacaoConclusao,
            A.MediaNotas
        FROM
            (SELECT
                NumInscricao, Sexo, 
                Etnia, NomMunicipioEsc, 
                EstadoEsc, 
                SituacaoConclusao,
                ROUND((NotaCN+NotaCH+NotaLC+NotaMT+NotaRedacao)/5, 2) AS MediaNotas
            FROM
                enemView
            WHERE 
                    NotaMT IS NOT NULL
                AND
                    NotaCH IS NOT NULL
                AND
                    NotaCN IS NOT NULL
                AND
                    NotaLC IS NOT NULL
                AND 
                    NotaRedacao IS NOT NULL) A
        INNER JOIN
            etniaView B
            ON codEtnia == Etnia
        INNER JOIN
            sitConView C
            ON codCon == SituacaoConclusao
        ORDER BY MediaNotas DESC
        """)

In [58]:
alunoMaiorNota.limit(10).show()

+------------+----+------+---------------+---------+--------------------+----------+
|NumInscricao|Sexo| Etnia|NomMunicipioEsc|EstadoEsc|   SituacaoConclusao|MediaNotas|
+------------+----+------+---------------+---------+--------------------+----------+
|200005996961|   M|Branca|           null|     null|           Concluido|    858.58|
|200004812135|   M|Branca|           null|     null|           Concluido|    852.86|
|200001357436|   M|Branca| Rio de Janeiro|       RJ|Cursando/Conclusa...|    852.76|
|200004002694|   M|Branca|           null|     null|           Concluido|     851.5|
|200001850224|   F|Branca|      S�o Paulo|       SP|Cursando/Conclusa...|    851.34|
|200006051511|   F|Branca|    Jo�o Pessoa|       PB|Cursando/Conclusa...|    850.74|
|200003688741|   M|Branca|           null|     null|           Concluido|    849.34|
|200006619550|   F|Branca|           null|     null|           Concluido|    847.82|
|200001993301|   M|Branca|           null|     null|           Concluido|    847.68|
|200004146848|   F|Branca|           null|     null|           Concluido|     847.6|
+------------+----+------+---------------+---------+--------------------+----------+

### 3 - Qual a média geral?

In [51]:
mediaGeral = spark.sql("""
        SELECT 
            ROUND(AVG(ROUND((NotaCN+NotaCH+NotaLC+NotaMT+NotaRedacao)/5, 2)), 2) AS MediaGeral
        FROM
            (SELECT 
                *
            FROM
                enemView
            WHERE
                    NotaMT IS NOT NULL
                AND
                    NotaCH IS NOT NULL
                AND
                    NotaCN IS NOT NULL
                AND
                    NotaLC IS NOT NULL
                AND 
                    NotaRedacao IS NOT NULL
            )
        """)

In [52]:
mediaGeral.limit(10).show()

+----------+
|MediaGeral|
+----------+
|    526.58|
+----------+

### 4 - Qual o % de Ausentes?

In [89]:
ausentesEnem = spark.sql("""
            SELECT
                COUNT(NumInscricao) AS NumAusentes
            FROM
                enemView
            WHERE 
                    PresencaCN = 0
                OR
                    PresencaCH = 0
                OR
                    PresencaLC = 0
                OR
                    PresencaMT = 0
        """)

In [90]:
ausentesEnem.show()

+-----------+
|NumAusentes|
+-----------+
|    3192751|
+-----------+

In [100]:
totalEnem = spark.sql("""
        SELECT
            COUNT(NumInscricao) AS NumTotal
        FROM
            enemView
        """)

In [101]:
totalEnem.show()

+--------+
|NumTotal|
+--------+
| 5783109|
+--------+

In [102]:
ausentesEnem.createOrReplaceTempView("ausentesEnemView")

In [103]:
totalEnem.createOrReplaceTempView("totalEnemView")

In [109]:
porcentagemAusentesEnem = spark.sql("""
        SELECT
            B.NumTotal, A.NumAusentes, 
            ROUND(((A.NumAusentes*100)/B.NumTotal), 2) AS PorcentagemAusentes
        FROM
            ausentesEnemView AS A,
            totalEnemView AS B
        """)

In [110]:
porcentagemAusentesEnem.show()

+--------+-----------+-------------------+
|NumTotal|NumAusentes|PorcentagemAusentes|
+--------+-----------+-------------------+
| 5783109|    3192751|              55.21|
+--------+-----------+-------------------+

#### Dataframe and View Presenca

In [63]:
presencaColumns = ["codPre", "nomePre"]
presencaNome = [(0, "Faltou"), (1, "Presente"), (2, "Eliminado")]
presencaDataframe = spark.createDataFrame(presencaNome, presencaColumns)
presencaDataframe.show()

+------+---------+
|codPre|  nomePre|
+------+---------+
|     0|   Faltou|
|     1| Presente|
|     2|Eliminado|
+------+---------+

### 5 - Qual o número total de Inscritos?

In [111]:
totalInscritos = spark.sql("""
        SELECT
            NumTotal AS TotalInscritos
        FROM
            totalEnemView 
        """)

In [112]:
totalInscritos.show()

+--------------+
|TotalInscritos|
+--------------+
|       5783109|
+--------------+

### 6 - Qual a média por disciplina?

In [122]:
mediaDisciplinas = spark.sql("""
        SELECT
            A.MediaCN,
            B.MediaCH,
            C.MediaLC,
            D.MediaMT,
            E.MediaRedacao
        FROM
            (SELECT
                ROUND(AVG(NotaCN), 2) AS MediaCN
            FROM
                enemView
            WHERE
                NotaCN IS NOT NULL
            ) AS A,
            (SELECT
                ROUND(AVG(NotaCH), 2) AS MediaCH
            FROM
                enemView
            WHERE
                NotaCH IS NOT NULL
            ) AS B,
            (SELECT
                ROUND(AVG(NotaLC), 2) AS MediaLC
            FROM
                enemView
            WHERE
                NotaLC IS NOT NULL
            ) AS C,
            (SELECT
                ROUND(AVG(NotaMT), 2) AS MediaMT
            FROM
                enemView
            WHERE
                NotaMT IS NOT NULL
            ) AS D,
            (SELECT
                ROUND(AVG(NotaRedacao), 2) AS MediaRedacao
            FROM
                enemView
            WHERE
                NotaRedacao IS NOT NULL
            ) AS E
        """)

In [123]:
mediaDisciplinas.show()

+-------+-------+-------+-------+------------+
|MediaCN|MediaCH|MediaLC|MediaMT|MediaRedacao|
+-------+-------+-------+-------+------------+
| 490.41| 511.15|  523.8| 520.58|      573.41|
+-------+-------+-------+-------+------------+

### 7 - Qual a média por Sexo?

In [141]:
mediaSexo = spark.sql("""
        SELECT
            Sexo,
            ROUND(AVG(((NotaCN+NotaCH+NotaLC+NotaMT+NotaRedacao)/5)), 2) AS MediaNotaSexo
        FROM
            enemView
        WHERE 
                NotaMT IS NOT NULL
            AND
                NotaCH IS NOT NULL
            AND
                NotaCN IS NOT NULL
            AND
                NotaLC IS NOT NULL
            AND 
                NotaRedacao IS NOT NULL
        GROUP BY Sexo
        """)

In [142]:
mediaSexo.show()

+----+-------------+
|Sexo|MediaNotaSexo|
+----+-------------+
|   F|       521.24|
|   M|       534.73|
+----+-------------+

### 8 - Qual a média por Etnia?

In [145]:
mediaEtnia = spark.sql("""
        SELECT
            B.nomeEtnia AS Etnia,
            A.MediaNotaEtnia
        FROM
            (SELECT
                Etnia,
                ROUND(AVG(((NotaCN+NotaCH+NotaLC+NotaMT+NotaRedacao)/5)), 2) AS MediaNotaEtnia
            FROM
                enemView
            WHERE 
                    NotaMT IS NOT NULL
                AND
                    NotaCH IS NOT NULL
                AND
                    NotaCN IS NOT NULL
                AND
                    NotaLC IS NOT NULL
                AND 
                    NotaRedacao IS NOT NULL
            GROUP BY Etnia) A
        INNER JOIN
            etniaView B
        ON codEtnia == Etnia
        """)

In [146]:
mediaEtnia.show()

+-------------+--------------+
|        Etnia|MediaNotaEtnia|
+-------------+--------------+
|Nao declarado|        534.05|
|       Branca|        556.53|
|        Preta|        500.87|
|        Parda|        508.66|
|      Amarela|        524.94|
|     Indigena|        472.84|
+-------------+--------------+