#  Teste Engenheiro de Dados - Mesha Tecnologia

## Instalação das Dependencias

In [2]:
!pip install pyspark
!pip install findspark
!pip install pandas 
!pip install install-jdk

Collecting pyspark
  Using cached pyspark-3.4.1-py2.py3-none-any.whl
Collecting py4j==0.10.9.7
  Using cached py4j-0.10.9.7-py2.py3-none-any.whl (200 kB)
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.7 pyspark-3.4.1

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: pip install --upgrade pip
Collecting findspark
  Using cached findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: pip install --upgrade pip
Collecting pandas
  Using cached pandas-2.0.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.2 MB)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/gitpod/.pyenv/versions/3.11.1/lib/python3.11/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Using cached pytz-2023.3-py2.py3-none-any.whl (502 kB)
Collecting tzdata>=2022.1
  Using cached tzdata-2023.3-py2.py3-none-any.whl (341 kB)
Collecting numpy>=1.21.0
  Using cached numpy-1.25.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.6 MB)
Requirement already satisfied: six>=1.5 in /home/gitpod/.pyenv/versions/3.11.1/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.25.0 pandas-2.0.2 pytz-2023.3 tzdata-2023.3

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: pip install --upgrade pip
Collecting install-jdk
  Using cached install_jdk-1.0.4-py3-none-any.whl (15 kB)
Installing collected packages: install-jdk
Successfully installed install-jdk-1.0.4

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: pip install --upgrade pip

## Importação das Dependencias e Inicialização do PySpark

In [4]:
import pandas as pd
import findspark
from pyspark.sql import SparkSession

In [5]:
findspark.init()

In [6]:
spark = SparkSession.builder.master('local[*]').getOrCreate()

Picked up JAVA_TOOL_OPTIONS:  -Xmx12884m
Picked up JAVA_TOOL_OPTIONS:  -Xmx12884m
23/06/28 02:26:53 WARN Utils: Your hostname, danilojpfre-testeengenh-349ickl44bp resolves to a loopback address: 127.0.0.1; using 10.0.5.2 instead (on interface eth0)
23/06/28 02:26:53 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/06/28 02:26:53 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [7]:
spark

## Extração dos Dados

In [76]:
path = "/workspace/teste-engenheiro-de-dados/dados/row/DADOS/MICRODADOS_ENEM_2020.csv"

In [77]:
enem = spark.read.csv(path, sep=";", header=True)

In [78]:
enem.limit(5).show()

+------------+------+---------------+-------+---------------+-----------+----------------+---------------+---------------+---------+---------+------------+----------------+-------------------+---------+---------+----------------------+------------------+---------------+------------------+-------------------+-----------+-----------+--------------+--------------+--------------+--------------+-----------+-----------+-----------+-----------+----------+----------+----------+----------+--------------------+--------------------+--------------------+--------------------+---------+--------------------+--------------------+--------------------+--------------------+-----------------+-------------+-------------+-------------+-------------+-------------+---------------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|NU_INSCRICAO|NU_ANO|TP_FAIXA_ETARIA|TP_SEXO|TP_ESTADO_CIVIL|TP_COR_RACA|TP_NACIONALIDADE|TP_ST_CONCLUSAO|TP_ANO_CONCLUIU|TP_ESCOLA|TP_ENSINO|IN_TREINEIRO|CO_MUNICIPIO_ESC|   NO_MUNICIPIO_ESC|CO_UF_ESC|SG_UF_ESC|TP_DEPENDENCIA_ADM_ESC|TP_LOCALIZACAO_ESC|TP_SIT_FUNC_ESC|CO_MUNICIPIO_PROVA| NO_MUNICIPIO_PROVA|CO_UF_PROVA|SG_UF_PROVA|TP_PRESENCA_CN|TP_PRESENCA_CH|TP_PRESENCA_LC|TP_PRESENCA_MT|CO_PROVA_CN|CO_PROVA_CH|CO_PROVA_LC|CO_PROVA_MT|NU_NOTA_CN|NU_NOTA_CH|NU_NOTA_LC|NU_NOTA_MT|     TX_RESPOSTAS_CN|     TX_RESPOSTAS_CH|     TX_RESPOSTAS_LC|     TX_RESPOSTAS_MT|TP_LINGUA|      TX_GABARITO_CN|      TX_GABARITO_CH|      TX_GABARITO_LC|      TX_GABARITO_MT|TP_STATUS_REDACAO|NU_NOTA_COMP1|NU_NOTA_COMP2|NU_NOTA_COMP3|NU_NOTA_COMP4|NU_NOTA_COMP5|NU_NOTA_REDACAO|Q001|Q002|Q003|Q004|Q005|Q006|Q007|Q008|Q009|Q010|Q011|Q012|Q013|Q014|Q015|Q016|Q017|Q018|Q019|Q020|Q021|Q022|Q023|Q024|Q025|
+------------+------+---------------+-------+---------------+-----------+----------------+---------------+---------------+---------+---------+------------+----------------+-------------------+---------+---------+----------------------+------------------+---------------+------------------+-------------------+-----------+-----------+--------------+--------------+--------------+--------------+-----------+-----------+-----------+-----------+----------+----------+----------+----------+--------------------+--------------------+--------------------+--------------------+---------+--------------------+--------------------+--------------------+--------------------+-----------------+-------------+-------------+-------------+-------------+-------------+---------------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|200006271946|  2020|             11|      F|              1|          2|               1|              1|             11|        1|     null|           0|            null|               null|     null|     null|                  null|              null|           null|           1501402|              Bel�m|         15|         PA|             0|             0|             0|             0|       null|       null|       null|       null|      null|      null|      null|      null|                null|                null|                null|                null|        1|                null|                null|                null|                null|             null|         null|         null|         null|         null|         null|           null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|
|200001195856|  2020|             11|      M|              2|          3|               1|              1|             11|        1|     null|           0|            null|               null|     null|     null|                  null|              null|           null|           2408102|              Natal|         24|         RN|             1|             1|             1|             1|        702|        689|        693|        698|     604.1|     661.7|     595.3|     711.3|BCBDBDCCCDBDDBADE...|BCAECABCDCEBDBBBD...|99999CADDEDADBAAB...|EBEBDEDAECBADCADD...|        1|ABBACBCCCDDDDBAEE...|BCEECDBCCDEBDBBBB...|99999CBDDEDBDBACE...|BBEADECAECBBXCEBA...|                1|          120|          120|          120|          120|          100|            580|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|
|200001943954|  2020|              4|      F|              2|          3|               2|              2|              0|        2|        1|           0|         2927408|           Salvador|       29|       BA|                     2|                 1|              1|           2927408|           Salvador|         29|         BA|             0|             0|             0|             0|       null|       null|       null|       null|      null|      null|      null|      null|                null|                null|                null|                null|        0|                null|                null|                null|                null|             null|         null|         null|         null|         null|         null|           null|   B|   C|   A|   D|   3|   B|   A|   B|   A|   A|   A|   B|   A|   B|   A|   B|   A|   A|   B|   A|   A|   A|   A|   A|   A|
|200001908998|  2020|              2|      M|              1|          3|               1|              2|              0|        2|        1|           0|         3547304|Santana de Parna�ba|       35|       SP|                     3|                 1|              1|           3547304|Santana de Parna�ba|         35|         SP|             1|             1|             1|             1|        700|        688|        692|        696|     620.8|       675|     624.2|     759.4|EBEDCCCDCBDBAECAE...|DABCCACCBCCDCADBD...|DCEAB99999AADAECC...|CBDBDCCDDEECBAABB...|        0|BDECCACBEBDEAEDAE...|DABCCAECBABECADBD...|DCEAD99999AADACCC...|EBDBXCCDAEECBAABA...|                1|          140|          200|          140|          120|          160|            760|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|
|200001634757|  2020|              4|      F|              1|          3|               2|              1|              1|        1|     null|           0|            null|               null|     null|     null|                  null|              null|           null|           3121605|         Diamantina|         31|         MG|             0|             0|             0|             0|       null|       null|       null|       null|      null|      null|      null|      null|                null|                null|                null|                null|        1|                null|                null|                null|                null|             null|         null|         null|         null|         null|         null|           null|   B|   G|   B|   B|   3|   B|   A|   B|   D|   A|   A|   B|   A|   B|   A|   A|   A|   A|   B|   A|   B|   B|   A|   A|   B|
+------------+------+---------------+-------+---------------+-----------+----------------+---------------+---------------+---------+---------+------------+----------------+-------------------+---------+---------+----------------------+------------------+---------------+------------------+-------------------+-----------+-----------+--------------+--------------+--------------+--------------+-----------+-----------+-----------+-----------+----------+----------+----------+----------+--------------------+--------------------+--------------------+--------------------+---------+--------------------+--------------------+--------------------+--------------------+-----------------+-------------+-------------+-------------+-------------+-------------+---------------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+

In [79]:
enem.printSchema()

root
 |-- NU_INSCRICAO: string (nullable = true)
 |-- NU_ANO: string (nullable = true)
 |-- TP_FAIXA_ETARIA: string (nullable = true)
 |-- TP_SEXO: string (nullable = true)
 |-- TP_ESTADO_CIVIL: string (nullable = true)
 |-- TP_COR_RACA: string (nullable = true)
 |-- TP_NACIONALIDADE: string (nullable = true)
 |-- TP_ST_CONCLUSAO: string (nullable = true)
 |-- TP_ANO_CONCLUIU: string (nullable = true)
 |-- TP_ESCOLA: string (nullable = true)
 |-- TP_ENSINO: string (nullable = true)
 |-- IN_TREINEIRO: string (nullable = true)
 |-- CO_MUNICIPIO_ESC: string (nullable = true)
 |-- NO_MUNICIPIO_ESC: string (nullable = true)
 |-- CO_UF_ESC: string (nullable = true)
 |-- SG_UF_ESC: string (nullable = true)
 |-- TP_DEPENDENCIA_ADM_ESC: string (nullable = true)
 |-- TP_LOCALIZACAO_ESC: string (nullable = true)
 |-- TP_SIT_FUNC_ESC: string (nullable = true)
 |-- CO_MUNICIPIO_PROVA: string (nullable = true)
 |-- NO_MUNICIPIO_PROVA: string (nullable = true)
 |-- CO_UF_PROVA: string (nullable = true)
 |-- SG_UF_PROVA: string (nullable = true)
 |-- TP_PRESENCA_CN: string (nullable = true)
 |-- TP_PRESENCA_CH: string (nullable = true)
 |-- TP_PRESENCA_LC: string (nullable = true)
 |-- TP_PRESENCA_MT: string (nullable = true)
 |-- CO_PROVA_CN: string (nullable = true)
 |-- CO_PROVA_CH: string (nullable = true)
 |-- CO_PROVA_LC: string (nullable = true)
 |-- CO_PROVA_MT: string (nullable = true)
 |-- NU_NOTA_CN: string (nullable = true)
 |-- NU_NOTA_CH: string (nullable = true)
 |-- NU_NOTA_LC: string (nullable = true)
 |-- NU_NOTA_MT: string (nullable = true)
 |-- TX_RESPOSTAS_CN: string (nullable = true)
 |-- TX_RESPOSTAS_CH: string (nullable = true)
 |-- TX_RESPOSTAS_LC: string (nullable = true)
 |-- TX_RESPOSTAS_MT: string (nullable = true)
 |-- TP_LINGUA: string (nullable = true)
 |-- TX_GABARITO_CN: string (nullable = true)
 |-- TX_GABARITO_CH: string (nullable = true)
 |-- TX_GABARITO_LC: string (nullable = true)
 |-- TX_GABARITO_MT: string (nullable = true)
 |-- TP_STATUS_REDACAO: string (nullable = true)
 |-- NU_NOTA_COMP1: string (nullable = true)
 |-- NU_NOTA_COMP2: string (nullable = true)
 |-- NU_NOTA_COMP3: string (nullable = true)
 |-- NU_NOTA_COMP4: string (nullable = true)
 |-- NU_NOTA_COMP5: string (nullable = true)
 |-- NU_NOTA_REDACAO: string (nullable = true)
 |-- Q001: string (nullable = true)
 |-- Q002: string (nullable = true)
 |-- Q003: string (nullable = true)
 |-- Q004: string (nullable = true)
 |-- Q005: string (nullable = true)
 |-- Q006: string (nullable = true)
 |-- Q007: string (nullable = true)
 |-- Q008: string (nullable = true)
 |-- Q009: string (nullable = true)
 |-- Q010: string (nullable = true)
 |-- Q011: string (nullable = true)
 |-- Q012: string (nullable = true)
 |-- Q013: string (nullable = true)
 |-- Q014: string (nullable = true)
 |-- Q015: string (nullable = true)
 |-- Q016: string (nullable = true)
 |-- Q017: string (nullable = true)
 |-- Q018: string (nullable = true)
 |-- Q019: string (nullable = true)
 |-- Q020: string (nullable = true)
 |-- Q021: string (nullable = true)
 |-- Q022: string (nullable = true)
 |-- Q023: string (nullable = true)
 |-- Q024: string (nullable = true)
 |-- Q025: string (nullable = true)

In [81]:
enem.where('NU_ANO!="2020"').count()

0

## Carregamento na Processing Zone - Seleção de Columns, Correções dos tipos de dados e Transformação para o formato Parquet

### Seleção Columns

In [98]:
enemSelecao = enem.select("NU_INSCRICAO", "TP_SEXO", "TP_COR_RACA", "CO_MUNICIPIO_ESC", "NO_MUNICIPIO_ESC", "SG_UF_ESC", "TP_PRESENCA_CN", "TP_PRESENCA_CH", "TP_PRESENCA_LC", "TP_PRESENCA_MT", "NU_NOTA_CN", "NU_NOTA_CH", "NU_NOTA_LC", "NU_NOTA_MT", "NU_NOTA_REDACAO", "TP_ST_CONCLUSAO")

In [99]:
enemSelecao.limit(5).show()

+------------+-------+-----------+----------------+-------------------+---------+--------------+--------------+--------------+--------------+----------+----------+----------+----------+---------------+---------------+
|NU_INSCRICAO|TP_SEXO|TP_COR_RACA|CO_MUNICIPIO_ESC|   NO_MUNICIPIO_ESC|SG_UF_ESC|TP_PRESENCA_CN|TP_PRESENCA_CH|TP_PRESENCA_LC|TP_PRESENCA_MT|NU_NOTA_CN|NU_NOTA_CH|NU_NOTA_LC|NU_NOTA_MT|NU_NOTA_REDACAO|TP_ST_CONCLUSAO|
+------------+-------+-----------+----------------+-------------------+---------+--------------+--------------+--------------+--------------+----------+----------+----------+----------+---------------+---------------+
|200006271946|      F|          2|            null|               null|     null|             0|             0|             0|             0|      null|      null|      null|      null|           null|              1|
|200001195856|      M|          3|            null|               null|     null|             1|             1|             1|             1|     604.1|     661.7|     595.3|     711.3|            580|              1|
|200001943954|      F|          3|         2927408|           Salvador|       BA|             0|             0|             0|             0|      null|      null|      null|      null|           null|              2|
|200001908998|      M|          3|         3547304|Santana de Parna�ba|       SP|             1|             1|             1|             1|     620.8|       675|     624.2|     759.4|            760|              2|
|200001634757|      F|          3|            null|               null|     null|             0|             0|             0|             0|      null|      null|      null|      null|           null|              1|
+------------+-------+-----------+----------------+-------------------+---------+--------------+--------------+--------------+--------------+----------+----------+----------+----------+---------------+---------------+

### Correção dos tipos dos dados

In [100]:
from pyspark.sql.types import DoubleType, StringType, IntegerType 
from pyspark.sql import functions as f

In [101]:
enemSelecao.printSchema()

root
 |-- NU_INSCRICAO: string (nullable = true)
 |-- TP_SEXO: string (nullable = true)
 |-- TP_COR_RACA: string (nullable = true)
 |-- CO_MUNICIPIO_ESC: string (nullable = true)
 |-- NO_MUNICIPIO_ESC: string (nullable = true)
 |-- SG_UF_ESC: string (nullable = true)
 |-- TP_PRESENCA_CN: string (nullable = true)
 |-- TP_PRESENCA_CH: string (nullable = true)
 |-- TP_PRESENCA_LC: string (nullable = true)
 |-- TP_PRESENCA_MT: string (nullable = true)
 |-- NU_NOTA_CN: string (nullable = true)
 |-- NU_NOTA_CH: string (nullable = true)
 |-- NU_NOTA_LC: string (nullable = true)
 |-- NU_NOTA_MT: string (nullable = true)
 |-- NU_NOTA_REDACAO: string (nullable = true)
 |-- TP_ST_CONCLUSAO: string (nullable = true)

In [102]:
enemSelecao.where(enemSelecao['TP_ST_CONCLUSAO'].isNull()).count()

0

In [103]:
enemSelecaoTipos = enemSelecao\
    .withColumn(
    "TP_COR_RACA",
    enemSelecao["TP_COR_RACA"].cast(IntegerType())
    )\
    .withColumn(
    "CO_MUNICIPIO_ESC",
    enemSelecao["CO_MUNICIPIO_ESC"].cast(IntegerType())
    )\
    .withColumn(
    "TP_PRESENCA_CN",
    enemSelecao["TP_PRESENCA_CN"].cast(IntegerType())
    )\
    .withColumn(
    "TP_PRESENCA_CH",
    enemSelecao["TP_PRESENCA_CH"].cast(IntegerType())
    )\
    .withColumn(
    "TP_PRESENCA_LC",
    enemSelecao["TP_PRESENCA_LC"].cast(IntegerType())
    )\
    .withColumn(
    "TP_PRESENCA_MT",
    enemSelecao["TP_PRESENCA_MT"].cast(IntegerType())
    )\
    .withColumn(
    "NU_NOTA_CN",
    enemSelecao["NU_NOTA_CN"].cast(DoubleType())
    )\
    .withColumn(
    "NU_NOTA_CH",
    enemSelecao["NU_NOTA_CH"].cast(DoubleType())
    )\
    .withColumn(
    "NU_NOTA_LC",
    enemSelecao["NU_NOTA_LC"].cast(DoubleType())
    )\
    .withColumn(
    "NU_NOTA_MT",
    enemSelecao["NU_NOTA_MT"].cast(DoubleType())
    )\
    .withColumn(
    "NU_NOTA_REDACAO",
    enemSelecao["NU_NOTA_REDACAO"].cast(IntegerType())
    )\
    .withColumn(
    "TP_ST_CONCLUSAO",
    enemSelecao["TP_ST_CONCLUSAO"].cast(IntegerType())
    )

In [104]:
enemSelecaoTipos.where(enemSelecaoTipos['TP_ST_CONCLUSAO'].isNull()).count()

0

In [105]:
enemSelecaoTipos.printSchema()

root
 |-- NU_INSCRICAO: string (nullable = true)
 |-- TP_SEXO: string (nullable = true)
 |-- TP_COR_RACA: integer (nullable = true)
 |-- CO_MUNICIPIO_ESC: integer (nullable = true)
 |-- NO_MUNICIPIO_ESC: string (nullable = true)
 |-- SG_UF_ESC: string (nullable = true)
 |-- TP_PRESENCA_CN: integer (nullable = true)
 |-- TP_PRESENCA_CH: integer (nullable = true)
 |-- TP_PRESENCA_LC: integer (nullable = true)
 |-- TP_PRESENCA_MT: integer (nullable = true)
 |-- NU_NOTA_CN: double (nullable = true)
 |-- NU_NOTA_CH: double (nullable = true)
 |-- NU_NOTA_LC: double (nullable = true)
 |-- NU_NOTA_MT: double (nullable = true)
 |-- NU_NOTA_REDACAO: integer (nullable = true)
 |-- TP_ST_CONCLUSAO: integer (nullable = true)

In [106]:
novosNomes = {'NU_INSCRICAO':'NumInscricao', 'TP_SEXO':'Sexo', 'TP_COR_RACA':'Etnia', 'CO_MUNICIPIO_ESC':'CodMunicipioEsc', 'NO_MUNICIPIO_ESC':'NomMunicipioEsc', 'SG_UF_ESC':'EstadoEsc', 'TP_PRESENCA_CN':'PresencaCN', 'TP_PRESENCA_CH':'PresencaCH', 'TP_PRESENCA_LC':'PresencaLC', 'TP_PRESENCA_MT':'PresencaMT', 'NU_NOTA_CN':'NotaCN', 'NU_NOTA_CH':'NotaCH', 'NU_NOTA_LC':'NotaLC', 'NU_NOTA_MT':'NotaMT', 'NU_NOTA_REDACAO':'NotaRedacao', 'TP_ST_CONCLUSAO':'SituacaoConclusao'}

In [107]:
for key, value in novosNomes.items():
    enemSelecaoTipos = enemSelecaoTipos.withColumnRenamed(key, value)

In [108]:
enemSelecaoTipos.printSchema()

root
 |-- NumInscricao: string (nullable = true)
 |-- Sexo: string (nullable = true)
 |-- Etnia: integer (nullable = true)
 |-- CodMunicipioEsc: integer (nullable = true)
 |-- NomMunicipioEsc: string (nullable = true)
 |-- EstadoEsc: string (nullable = true)
 |-- PresencaCN: integer (nullable = true)
 |-- PresencaCH: integer (nullable = true)
 |-- PresencaLC: integer (nullable = true)
 |-- PresencaMT: integer (nullable = true)
 |-- NotaCN: double (nullable = true)
 |-- NotaCH: double (nullable = true)
 |-- NotaLC: double (nullable = true)
 |-- NotaMT: double (nullable = true)
 |-- NotaRedacao: integer (nullable = true)
 |-- SituacaoConclusao: integer (nullable = true)

### Transformação para o formato Parquet

In [9]:
pathParquet = "/workspace/teste-engenheiro-de-dados/dados/processing"

In [110]:
enemSelecaoTipos.write.parquet(
    pathParquet,
    mode = "overwrite"
)

23/06/28 02:06:10 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
23/06/28 02:06:10 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
23/06/28 02:06:10 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
23/06/28 02:06:10 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
23/06/28 02:06:10 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 63.33% for 12 writers
23/06/28 02:06:10 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 58.46% for 13 writers
23/06/28 02:06:11 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 54.29% for 14 writers
23/06/28 02:06:11 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 50.67% for 15 writers
23/06/28 02:06:11 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 47.50% for 16 writers
23/06/28 02:06:17 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 50.67% for 15 writers
23/06/28 02:06:18 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 54.29% for 14 writers
23/06/28 02:06:18 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 58.46% for 13 writers
23/06/28 02:06:18 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 63.33% for 12 writers
23/06/28 02:06:18 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
23/06/28 02:06:18 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
23/06/28 02:06:18 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
23/06/28 02:06:18 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [10]:
enemParquet = spark.read.parquet(
    pathParquet
)

In [11]:
enemParquet.limit(5).show()

+------------+----+-----+---------------+---------------+---------+----------+----------+----------+----------+------+------+------+------+-----------+-----------------+
|NumInscricao|Sexo|Etnia|CodMunicipioEsc|NomMunicipioEsc|EstadoEsc|PresencaCN|PresencaCH|PresencaLC|PresencaMT|NotaCN|NotaCH|NotaLC|NotaMT|NotaRedacao|SituacaoConclusao|
+------------+----+-----+---------------+---------------+---------+----------+----------+----------+----------+------+------+------+------+-----------+-----------------+
|200003297356|   F|    2|           null|           null|     null|         0|         0|         0|         0|  null|  null|  null|  null|       null|                1|
|200003373109|   F|    2|           null|           null|     null|         0|         0|         0|         0|  null|  null|  null|  null|       null|                1|
|200004404163|   F|    1|           null|           null|     null|         0|         0|         0|         0|  null|  null|  null|  null|       null|                3|
|200001704986|   M|    1|           null|           null|     null|         1|         1|         1|         1| 578.7| 624.6| 612.1| 638.7|        880|                1|
|200001049116|   F|    1|           null|           null|     null|         1|         1|         1|         1| 643.5| 645.9| 592.8| 682.6|        620|                1|
+------------+----+-----+---------------+---------------+---------+----------+----------+----------+----------+------+------+------+------+-----------+-----------------+

In [12]:
enemParquet.count()

5783109

## Curated Zone - Criando as tabelas para cada pergunta

### Criando uma View

In [13]:
enemParquet.createOrReplaceTempView("enemView")

### 1 - Qual a escola com a maior média de notas?

In [69]:
escolaMaiorMedia = spark.sql("""
        SELECT 
            CodMunicipioEsc, NomMunicipioEsc, 
            EstadoEsc, ROUND(AVG(MediaNotas), 2) AS MediaNotas
        FROM
            (SELECT
                NumInscricao, CodMunicipioEsc, NomMunicipioEsc, EstadoEsc, 
                ROUND((NotaCN+NotaCH+NotaLC+NotaMT+NotaRedacao)/5, 2) AS MediaNotas
            FROM
                enemView
            WHERE 
                    SituacaoConclusao == 2 
                AND 
                    CodMunicipioEsc IS NOT NULL 
                AND 
                    NotaMT IS NOT NULL
                AND
                    NotaCH IS NOT NULL
                AND
                    NotaCN IS NOT NULL
                AND
                    NotaLC IS NOT NULL
                AND 
                    NotaRedacao IS NOT NULL
            )
        GROUP BY CodMunicipioEsc,NomMunicipioEsc, EstadoEsc  
        ORDER BY MediaNotas DESC
        """)

In [70]:
escolaMaiorMedia.limit(10).show()

+---------------+--------------------+---------+----------+
|CodMunicipioEsc|     NomMunicipioEsc|EstadoEsc|MediaNotas|
+---------------+--------------------+---------+----------+
|        3158904| Santana do Manhua�u|       MG|    706.56|
|        4313466|          Novo Xingu|       RS|     704.9|
|        4305850|    Coqueiros do Sul|       RS|    693.52|
|        4117297|      Novo Itacolomi|       PR|     692.7|
|        3107000|           Biquinhas|       MG|    685.64|
|        3147808|         Passa Vinte|       MG|    681.74|
|        3160009|Santo Ant�nio do ...|       MG|     670.8|
|        3170651|Vargem Grande do ...|       MG|    668.77|
|        3149408|      Pedro Teixeira|       MG|    656.16|
|        4304853|        Carlos Gomes|       RS|    654.44|
+---------------+--------------------+---------+----------+

In [56]:
escolaMaiorMedia.count()

5425

### 2 - Qual o aluno com a maior média de notas e o valor dessa média?

In [71]:
alunoMaiorNota = spark.sql("""
        SELECT
            *
        FROM
            (SELECT
                NumInscricao, Sexo, 
                Etnia, NomMunicipioEsc, 
                EstadoEsc, 
                SituacaoConclusao,
                ROUND((NotaCN+NotaCH+NotaLC+NotaMT+NotaRedacao)/5, 2) AS MediaNotas
            FROM
                enemView
            WHERE 
                    NomMunicipioEsc IS NOT NULL 
                AND
                    NotaMT IS NOT NULL
                AND
                    NotaCH IS NOT NULL
                AND
                    NotaCN IS NOT NULL
                AND
                    NotaLC IS NOT NULL
                AND 
                    NotaRedacao IS NOT NULL)
        ORDER BY MediaNotas DESC
        """)

In [72]:
alunoMaiorNota.limit(10).show()

+------------+----+-----+---------------+---------+-----------------+----------+
|NumInscricao|Sexo|Etnia|NomMunicipioEsc|EstadoEsc|SituacaoConclusao|MediaNotas|
+------------+----+-----+---------------+---------+-----------------+----------+
|200001357436|   M|    1| Rio de Janeiro|       RJ|                2|    852.76|
|200001850224|   F|    1|      S�o Paulo|       SP|                2|    851.34|
|200006051511|   F|    1|    Jo�o Pessoa|       PB|                2|    850.74|
|200005145247|   M|    4|Mogi das Cruzes|       SP|                2|     846.8|
|200001423299|   M|    1| Belo Horizonte|       MG|                2|     845.0|
|200001622477|   M|    1|       Salvador|       BA|                2|     844.9|
|200005414259|   F|    1|       Bras�lia|       DF|                2|     844.3|
|200001870736|   M|    1|          Bel�m|       PA|                2|    843.76|
|200003054964|   M|    3|        Aracaju|       SE|                2|    843.38|
|200005870952|   M|    1|      S�o Paulo|       SP|                2|    842.52|
+------------+----+-----+---------------+---------+-----------------+----------+

### 3 - Qual a média geral?

In [73]:
mediaGeral = spark.sql("""
        SELECT 
            ROUND(AVG(ROUND((NotaCN+NotaCH+NotaLC+NotaMT+NotaRedacao)/5, 2)), 2) AS MediaGeral
        FROM
            (SELECT 
                *
            FROM
                enemView
            WHERE
                    NotaMT IS NOT NULL
                AND
                    NotaCH IS NOT NULL
                AND
                    NotaCN IS NOT NULL
                AND
                    NotaLC IS NOT NULL
                AND 
                    NotaRedacao IS NOT NULL
            )
        """)

In [74]:
mediaGeral.limit(10).show()

+----------+
|MediaGeral|
+----------+
|    526.58|
+----------+

### 4 - Qual o % de Ausentes?

In [ ]:
|NumInscricao|Sexo|Etnia|CodMunicipioEsc|NomMunicipioEsc|EstadoEsc|PresencaCN|PresencaCH|PresencaLC|PresencaMT|NotaCN|NotaCH|NotaLC|NotaMT|NotaRedacao|SituacaoConclusao|